
.rainbow {
    width: 90vw;
    height: 45vw;
    display: flex;
    flex-direction: column;
    border-radius: 900px 900px 0 0;
    transform: skew(20deg, 10deg);
    overflow: hidden;
}
.rainbow div {
    flex: 1;
}
.red { 
    background: red; 
}
.orange { 
    background: orange; 
}
.yellow { 
    background: yellow; 
}
.green { 
    background: green; 
}
.blue { 
    background: blue; 
}
.indigo { 
    background: indigo; 
}
.violet { 
    background: violet; 
}